fn main() -> i32 {
    let value: i32 = 0;
    while value < 50{
        value += 1;
    }
    return value;
}

/*
fn strlen(str: *const char) -> usize {
    let start: *const char = str;
    while !*str++ {}
    return str as usize - start as usize;
}
*/
